:root {
    --modals-bg-color: rgba(0, 0, 0, 0.6);
    --main-color: #3f51b5;
    --modals-color-blue: #3f51b5;
    --modals-color-yellow: #ffd82c;
    --modals-color-black: #000;
    --modals-color-red: #ff3333;
    --modals-color-white: #fff;
}